---
name: Build font files

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    if: github.repository_owner == 'basil'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install fontforge
        run: |
          sudo apt-get update
          sudo apt-get install -y fontforge

      - name: Build font files
        run: ./build.sh
